<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="{% static 'css/adminpage.css' %}">
</head>
<body>
  <div class="sidebar">
    <ul class="menu">
      <li><a href="{% url 'reservation:customers' %}">Customer List</a></li>
      <li><a href="{% url 'reservation:services_list_admin' %}">Services</a></li>
      <li><a href="{% url 'reservation:reservation_list' %}">Reservation List</a></li>
      <li><a href="{% url 'reservation:transaction_history' %}">Transaction History</a></li>
      <li><a href="{% url 'reservation:report_list_admin' %}">Reports</a></li>
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>Welcome to the Admin Panel</h1>
  </div>
</body>
</html>