<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Cheradel Suites</title>
  <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
</head>
<body>
  <header>
    <a href="#" class="logo">Cheradel Suites</a>
    <ul class="navbar">
      <li><a href="{% url 'account_login' %}">Login</a></li>
    </ul>
  </header>
  <section class="home" id="home">
    <h1>Welcome to Cheradel Suites</h1>
    <a href="{% url 'account_login' %}" class="btn">Reserve Now!</a>
  </section>
</body>
</html>