{% load static %}
<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="{% static 'css/admin_page.css' %}">
</head>

<body>
  <div class="sidebar">
    <div class="logo">
      Cheradel Suites
    </div>
    <ul class="menu">
      <li><a href="#">Dashboard</a></li>
      <li><a href="{% url 'customers' %}">Customer List</a></li>
      <li><a href="{% url 'services_list_admin' %}">Services</a></li>
      <li><a href="{% url 'reservation_list' %}">Reservation List</a></li>
      <li><a href="{% url 'transaction_history' %}">Transaction History</a></li>
      <li><a href="{% url 'report_list_admin' %}">Reports</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
  <div class="content">
    <div class="header">
      <h1>Welcome to the Admin Panel</h1>
    </div>
    
  </div>
</body>
</html>