{% load socialaccount %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}"> 
    <title>LOGIN</title>
</head>
<body>
    <div class="background-wrapper">
        <div class="form-wrapper">
            <div class="form">
                
                <h1>Login</h1>
                <div class="">
                    <p>If you have not created an account yet, then please
                        <a class="" href="{{ signup_url }}">sign up</a> first.
                    </p>
                </div>
    
                <form action="{% url 'account_login' %}" method="POST" class="my-auto">
                    {% csrf_token %}
                    <div class="username">
                        {{form.login}}
                    </div>
    
                    <div class="password">
                        {{form.password}}
                    </div>
    
                    <div class="remember">
                        {{form.remember}}
                        <label for="remember" >Remember Me</label>
                    </div>
                    
                    <div class="">
                        <button class="login-button" type="submit">
                            Sign In
                        </button>
                    </div>
                    <div class="justify-center mx-3">
                        <a href="/" class="bg-gray-300 text-gray-800 rounded-lg w-full my-3 p-2 block text-center">Back to Home</a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</body>
{%endblock%}
</html>